/* MAIN */
main {
    margin-top: 130px;
    margin-bottom: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


#horaFecha {
    font-size: 1.5rem;
    color: black;
}

header img {
    width: 100px;
    height: auto;
}

#theme-toggle {
    font-size: 2rem;
}

#theme-toggle i {
    font-size: 1.5rem;
}

footer {
    background-color: #f8cfc4;
}

footer img {
    height: 100px;
    width: auto;
}

footer i {
    font-size: 1.5rem;
    color: #fa734e;
}

footer ul {
    list-style: none;
}

footer li {
    display: flex;
    align-items: start;
}

footer a {
    text-decoration: none;
    color: #343a40;
}

footer a:hover {
    color: #fa734e;
}

/* OSCURO */
body.dark-mode {
    background-color: #343a40;
    color: #fff;
}

.dark-mode #theme-toggle i {
    transform: rotate(180deg);
}

body.dark-mode #theme-toggle {
    color: #fff;
}

body.dark-mode .nav-link {
    color: #fff
}

body.dark-mode .nav-link:hover {
    color: #e19b88;
}

body.dark-mode #intro span {
    color: #e19b88;
}

body.dark-mode #horaFecha {
    color: #fff;
}


/* CLARO */
.nav-link {
    color: #343a40;
}

.nav-link:hover {
    color: #e19b88;
}

#intro span {
    color: #e19b88;
}