/* MAIN */
main {
    margin-top: 120px;
    margin-bottom: 50px;
}

/* HEADER */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#horaFecha {
    font-size: 1rem;
    color: black;
}


#theme-toggle {
    font-size: 1rem;
}

#theme-toggle i {
    font-size: 1rem;
}



.clima #temperatura-valor {
    font-size: 1rem;
}

.clima #ubicacion {
    font-size: 1rem;
}


.clima img {
    height: 3rem;
    width: auto;
}

/* NAV */
nav img {
    width: 100px;
    height: auto;
}


/* MAIN */
.carousel img {
    height: 600px;
}



#text {
    padding-left: 200px;
    padding-right: 200px;
}



.card-sala {
    position: relative;
    overflow: hidden;
}



.info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(225, 155, 136, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    color: rgb(0, 0, 0);
    padding: 30px;
}

.info:hover {
    opacity: 1;

}

/* FOOTER */
.nav-footer-item {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #f8cfc4;
}



footer i {
    font-size: 1.5rem;
    color: #fa734e;
    margin-right: 15px;
}


footer a {
    text-decoration: none;
    color: #343a40;
}

footer a:hover {
    color: #fa734e;
}

#copy {
    background-color: white;
    color: #343a40;
    width: 100%;
}






/* OSCURO */
body.dark-mode {
    background-color: #343a40;
    color: #fff;
}

.dark-mode #theme-toggle i {
    transform: rotate(180deg);
}

body.dark-mode #theme-toggle {
    color: #fff;
}

body.dark-mode .nav-link {
    color: #fff
}

body.dark-mode .nav-link:hover {
    color: #e19b88;
}

body.dark-mode #intro span {
    color: #e19b88;
}

body.dark-mode #horaFecha {
    color: #fff;
}

body.dark-mode footer {
    color: #343a40;
}

body.dark-mode #copy {
    background-color: #343a40;
    color: white;
}

body.dark-mode .dropdown-menu {
    background-color: #343a40;
}

body.dark-mode .dropdown-menu .dropdown-item {
    color: white;
}

body.dark-mode .drop .dropdown-item:hover {
    color: black;
}

/* CLARO */
.nav-link {
    color: #343a40;
}

.nav-link:hover {
    color: #e19b88;
}

#intro span {
    color: #e19b88;
}