body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
    margin-top: 150px;
}

/* menú */
.message-top {
    background-color: #e19b88;
}

header {
    padding: 10px;
}

#boton {
    color: #e19b88;
    background-color: #e19b88;
    border-color: beige;
}

#menu li>a {
    font-size: 18px;
    color: #3f3f3f;
}

#menu li>a:hover {
    color: #e19b88;
}

.carousel-inner {
    max-height: 39rem;
}

#intro span {
    color: #e19b88;
    font-weight: bold;
}

#nosotros h1 {
    color: #e19b88;
    font-weight: bold;
}

#nosotros img {
    width: 300px;
    height: 300px;
}

#sucursales h1 {
    color: #e19b88;
    font-weight: bold;
}

#sucursales img {
    width: 200px;
    height: auto;
}

#salas h1 {
    color: #e19b88;
    font-weight: bold;
}

.modal img {
    height: 465px;
    width: auto;
}

footer {
    background-color: #f8cfc4;
}

footer img {
    height: 100px;
    width: auto;
}

footer svg {
    color: #e19b88;
    height: 50px;
}

/*  MEDIA QUERIES PANTALLA ACNHA */
/*  MEDIA QUERIES PANTALLA SM */
/*  MEDIA QUERIES PANTALLA PEQUEÑA */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;

    }
}

/*  MEDIA QUERIES PANTALLA SUPER PEQUEÑA */
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}