main {
    margin-top: 300px;
}

#map {
    margin: 50px;
    width: 50%;
    height: 400px;
    background-color: grey;
    left: 270px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}