main {
    margin-top: 150px;
}

.pose img {
    width: 200px;
}

.poses {
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.pose {
    text-align: center;
}

.pose span {
    font-weight: bold;
    color: #e19b88;
}