main {
    margin-top: 150px;
}

.pose img {
    width: 200px;
}

.poses {
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    overflow: hidden;
}

.pose {
    text-align: center;
}

.pose span {
    font-weight: bold;
    color: #e19b88;
}

.pose {
    transition: transform 0.3s;
    /* Agrega una transición suave al cambio de tamaño */
}

.pose:hover {
    transform: scale(1.2);
    /* Ajusta el valor según el nivel de agrandamiento deseado */
}