/*  main */
main {
    margin-top: 150px;
}

#btn-modal {
    background: #e19b88;
    color: #ffffff;
}

#modal a {
    text-decoration: none;
    color: black;
}

#modal li {
    list-style: none;
}

.modal-footer button {
    background: #e19b88;
    color: #ffffff;
}

#text span {
    color: #e19b88;
}


.card h5 {
    color: #e19b88
}

#card-img {
    height: auto;
    width: 400x;
}

.card {
    width: 400px;
    height: 600px;
}

#suc button {
    background-color: #e19b88;
    color: #ffffff;
}

.card i {
    color: #e19b88;
    margin-right: 10px;
}

#nueva {
    margin-left: 10px;
}

.modal-body span {
    font-weight: bold;
}



/* OSCURO */
body.dark-mode .card-body {
    background-color: #292c30;
}

body.dark-mode .card-border {
    color: #292c30;
}

body.dark-mode .modal-content {
    background-color: #292c30;
}